@model Feature

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layout/Layout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Öne Çıkan Alan Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Başlık </label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <textarea rows="4" asp-for="Description" class="form-control"></textarea>
                            <br />                          
                            <div class="text-center">
                                <button class="btn btn-primary btn-sm">Bilgileri Ekle</button>
                            </div>
                            <br />
                        </form>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





