@model Message
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Mesaj Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">
                        <form method="post">

                            <label>Ad Soyad </label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />
                            <label>Konu</label>
                            <input type="text" asp-for="Subject" class="form-control" />
                            <br />
                            <label>Email</label>
                            <input type="text" asp-for="Email" class="form-control" />
                            <br />
                            <label>Mesaj</label>
                            <textarea rows="4" asp-for="MessageDetail" class="form-control"></textarea>
                            <br />
                            <div class="text-center">
                                <button class="btn btn-primary btn-sm">Mesaj Ekle</button>
                            </div>
                            <br />
                        </form>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





